<h1> Your Application: </h1>
<h2> Status: <%= @application.status %></h2>

<h3> Name of Applicant: <%= @application.name %></h3>
<p> Street Address: <%= @application.street_address %></p>
<p> City: <%= @application.city %></p>
<p> State: <%= @application.state %></p>
<p> Zip Code: <%= @application.zip_code %></p>
<p> Pets Applied For: </p>
<%= form_tag("/applications/#{@application.id}", method: :get) do  %>
  <p> Add a Pet to this Application </p>
  <%= label_tag :search_for_pet_by_name%>
  <%= text_field_tag :search %>
<%= submit_tag 'Search' %>
<% end %>