<h1> Your Application </h1>

<body>
  <% if @application.status != "Pending" %>
    <section id="pet-search">
      <h3>Search for pets to add to your application:</h3>
        <div id="pet-search-bar">
            <%= form_with url: application_path(@application), method: :get, local: true do %>
              <%= text_field_tag(:pet_name, params[:pet_name])%>
              <%= submit_tag("Search")%>
            <% end %>
        </div>  

        <ul id="pet-search-results">
            <% if @pets %>
              <% @pets.each do |pet|%>
                <li id="pet-<%= pet.id %>">
                  <%= pet.name %>
                    <%= button_to "Adopt this Pet", application_path, method: :get, local: true, params: { pet_id: pet.id } %>
                </li>
              <% end %>
            <% end %>
        </ul>
    </section>
  <% end %>

  <section id="application-<%= @application.id %>">
    <h3> Name of Applicant: <%= @application.name %></h3>
    <p> Street Address: <%= @application.street_address %></p>
    <p> City: <%= @application.city %></p>
    <p> State: <%= @application.state %></p>
    <p> Zip Code: <%= @application.zip_code %></p>
      <section id="application-pets-list">
        <p> Pets Applied For: </p>
          <% @application.pets.each do |pet| %>
            <%= pet.name%>
          <% end %>
      </section>
    <p> Status: <%= @application.status %></p>
  </section>

  <section id="submittal-section">
    <% if @application.status == "In Progress" %>
      <% if @application.pets != [] %>
          <%= form_with url: application_path, method: :patch, local: true do |f| %>
            <%= f.label :good_owner_statement, "Tell us why you would make a good home:" %>
            <br>
            <%= f.text_area :good_owner_statement %>
            <br>
            <%= f.submit 'Submit Application' %>
          <% end %>
      <% end %>
    <% end %>
  </section>
</body>