<h1> Your Application </h1>

<h3> Name of Applicant: <%= @application.name %></h3>
<p> Street Address: <%= @application.street_address %></p>
<p> City: <%= @application.city %></p>
<p> State: <%= @application.state %></p>
<p> Zip Code: <%= @application.zip_code %></p>
<p> Pets Applied For: </p>
<p> Status: </p>